@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  font-family: 'Ysabeau', sans-serif;
}

.custom-img {
  background: radial-gradient(circle, #4b0082, #7003be, #800080);
}

.outlined-text {
  color: white;
  /* Color of the text fill */
  text-shadow:
    -1px -1px 0 #000,
    /* Top left */
    1px -1px 0 #000,
    /* Top right */
    -1px 1px 0 #000,
    /* Bottom left */
    1px 1px 0 #000;
  /* Bottom right */
  font-weight: bold;
  /* Optional: Make text bold for a stronger outline effect */
}